{
    "Comment": "Auto-update during EC2 booting",
    "Changes": [
        {
            "Action": "ChangeAction",
            "ResourceRecordSet": {
                "Name": "ChangeName",
                "Type": "A",
                "TTL": 300,
                "ResourceRecords": [
                    {
                        "Value": "ChangeValue"
                    }
                ]
            }
        }
    ]
}
